<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poorchatfirebase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoorChatFireBase">
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".ProfileActivity"
            android:theme="@style/ThemeMain.PoorChatFireBase"/>
        <activity android:name=".SignUpActivity"
            android:theme="@style/ThemeMain.PoorChatFireBase"/>
        <activity android:name=".ForgotPasswordActivity"
            android:theme="@style/ThemeMain.PoorChatFireBase"/>
        <activity android:name=".MainActivity"
            android:theme="@style/ThemeMain.PoorChatFireBase"/>
        <activity
            android:name=".MyLoginActivity"
            android:theme="@style/ThemeMain.PoorChatFireBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>